<div class="d-flex" style="align-items: center;">
  <h1 style="margin-right: 10px"><%= @list.name %></h1>
  <%= button_to "Create Item", new_user_application_list_item_url(list_name_format: @list.name_format), method: :get, class: "btn btn-dark btn-sm" %>
</div>
<% @list.items.each do |item| %>
  <ul class="list-group">
    <li class="list-group-item"><%= item.content %></li>
  </ul>
<% end %>
<div>
  <%= form_for @list, url: user_application_list_import_url(list_name_format: @list.name_format), html: { multipart: true }, method: :post do |f| %>
    <%= f.file_field :uploaded_file, :class => 'btn btn-light btn-sm' %>
    <%= f.submit "Upload", :class => 'btn btn-dark btn-sm' %>
  <% end %>
  <%= button_to "Back", user_application_path(name: @application.name), method: :get, class: "btn btn-dark btn-sm ml-3" %>
</div>