<span class="route"><%= @user.username %> / Account Settings</span>
<div class="content-title-container">
  <span class="content-title">Account Settings</span>
</div>

<%= simple_form_for(@user, method: :post, url: user_update_info_path) do |form| %>
  <span>Username</span>
  <%= form.input :username %>
  <span>Email</span>
  <%= form.input :email %>
  <br/>
  <%= form.submit %>
<% end %>
