<span class="route"><%= @user.username %> /</span>
<div class="content-title-container">
  <span class="content-title">Hi <%= @user.username %>!</span>
  <%=link_to "Create an app", new_user_application_path, :method => :get , class: 'primary-btn'%>
</div>
<% @applications.each do |application| %>
  <ul>
    <li><%= link_to application.name, user_application_path(name: application.name) %></li>
  </ul>
<% end %>
<%= button_to "Home", root_path, method: :get %>
