<p><%= @user.username %></p>
<h1><%= @application.name %></h1>
<p><%= @application.description %></p>
<% if @lists && !@lists.empty? %>
  <h2>Lists</h2>
  <% @lists.each do |list| %>
  <ul>
    <li><%= link_to list.name, user_application_list_path(application_name: @application.name, name_format: list.name_format) %></li>
  </ul>
  <% end %>
<% end %>
<% if @images && !@images.empty? %>
  <h2>Images</h2>
  <% @images.each do |image| %>
  <ul>
    <li><%= link_to image.title, user_application_image_path(application_name: @application.name, name_format: image.name_format) %></li>
  </ul>
  <% end %>
<% end %>
<% if @codes && !@codes.empty? %>
  <h2>Code</h2>
  <% @codes.each do |code| %>
  <ul>
    <li><%= link_to code.title, user_application_code_path(application_name: @application.name, name_format: code.name_format) %></li>
  </ul>
  <% end %>
<% end %>