<p><%= @user %></p>
<p><%= @application.id %></p>
<p><%= @application.name %></p>
<p><%= @application.description %></p>
<% if @lists && !@lists.empty? %>
  <h2>Lists</h2>
  <% @lists.each do |list| %>
  <p><%= list.name %></p>
  <% end %>
<% end %>