<span class="route"><%= @user.username %> / <%= @application.name %></span>
<div class="content-title-container">
  <span class="content-title"><%= @application.name %></span>
</div>
<div class="application-container">
  <span class="application-files-title">Files</span>
  <div class="application-files-cards">
    <a id="create-file-card" class="create-file no-decoration" href="javascript:void(0);">+</a>
    <% @application.display_codes_in_order.each do |file| %>
      <%= link_to user_application_code_path(application_name: @application.name, name_format: file.name_format), class:'application_files_card no-decoration' do %>
        <%= render partial: "applications/shared/application_files_cards", locals: {:object => file, type: 'code'} %>
      <% end %>
    <% end %>
  </div>
  <span class="application-files-title">Images</span>
  <div class="application-files-cards">
  <a id="create-image-card" class="create-file no-decoration" href="javascript:void(0);">+</a>
  <% @application.images.each do |image| %>
  <%= link_to user_application_image_path(application_name: @application.name, name_format: image.name_format), class:'application_files_card no-decoration' do %>
      <%= render partial: "applications/shared/application_files_cards", locals: {:object => image, type: 'image'} %>
    <% end %>
  <% end %>
  </div>
</div>
<%= render partial: "applications/shared/create-file-modal", locals: {:user => @user, :application => @application, :code => Code.new} %>
<%= javascript_pack_tag 'renderModal' %>
<!--
<% if @lists && !@lists.empty? %>
  <h2>Lists</h2>
  <% @lists.each do |list| %>
  <ul>
    <li><%= link_to list.name, user_application_list_path(application_name: @application.name, name_format: list.name_format) %></li>
    <%# Delete btn %>
    <%# <li><%= link_to "Destroy", user_application_list_path(application_name: @application.name, name_format: list.name_format), method: :delete %>
  </ul>
  <% end %>
<% end %>
  <%= button_to "Create list", new_user_application_list_url(application_name: @application.name), method: :get %>
<% if @images && !@images.empty? %>
  <h2>Images</h2>
  <% @images.each do |image| %>
  <ul>
    <li><%= link_to image.title, user_application_image_path(application_name: @application.name, name_format: image.name_format) %></li>
  </ul>
  <% end %>
<% end %>
  <%= button_to "Create image", new_user_application_image_url(application_name: @application.name), method: :get %>
<% if @codes && !@codes.empty? %>
  <h2>Code</h2>
  <% @codes.each do |code| %>
  <ul>
    <li><%= link_to code.title, user_application_code_path(application_name: @application.name, name_format: code.name_format) %></li>
  </ul>
  <% end %>
<% end %>
<%= button_to "Create code", new_user_application_code_url(application_name: @application.name), method: :get %>
<%= button_to "Back", user_applications_index_path, method: :get %>
-->