<div class="navbar">
  <%=link_to image_tag("logo.png", alt: "GatoCmM's logo", class: "logo nav-child"), "/"%>
  <div class="session-links nav-child">
    <% if current_user %>
      <span>
      Logged in as 
          <%= link_to current_user.username,
              user_applications_index_path(user_username: current_user.username),
              method: :get, class:'no-decoration' %>
        </strong>
      </span>
      <%= link_to '[Sign out]', destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path, :method => :new, class: 'secondary-btn' %>
      <%= link_to 'Get Started', new_user_registration_path, :method => :get , class: 'primary-btn'%>
    <% end %>
  </div>
</div>