<div class="vertical-navbar">
  <div class="header">
    <% if current_user %>
      <%=link_to image_tag("https://avatars.dicebear.com/api/male/#{current_user.username}.svg?background=%767676", alt: "User profile image", class: "user-image"), "/"%>
    <% end %>
  </div>
  <br>
  <ul class="vnavbar-btns">
    <li><%= link_to "Dashboard", user_applications_index_path(user_username: current_user.username), class: "no-decoration "%></li>
    <li><%= link_to "Account", "/", class: "no-decoration "%></li>
    <li><%= link_to "Tokens", "/", class: "no-decoration "%></li>
    <li><%= link_to "Docs", "/", class: "no-decoration "%></li>
    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete , class: "no-decoration last-item"%></li>
  </ul>
</div>