<span class="route"><%= @user.username %> / <%= @application.name %> / <%= @code.title %></span>
<div class="code-content-title-container">
  
  <%= image_tag @code.icon_source, class: "code-content-title-container-icon" %>
  <span class="content-title"><%= @code.title %></span>
</div>

<%= content_tag :div, class: "code-data", data: {code: @code} do %>
  <code>
    <%= @code.content.html_safe %>
  </code>
  <%= button_to "Back", user_application_path(name: @application.name), method: :get %>
  <button class='download-btn'>Download</button>
<% end %>

<%# To do: organize the javascript in the app/javascript directory %>
<%= javascript_pack_tag 'downloadCode' %>
