<span class="route"><%= @user.username %> / <%= @application.name %> / <%= @code.title %></span>
<div class="code-content-title-container">
  <%= image_tag @code.icon_source, class: "code-content-title-container-icon" %>
  <span class="content-title"><%= @code.title %></span>
</div>
<div class="code-content-main-container">
  <%= content_tag :div, class: "code-data", data: {code: @code} do %>
    <pre><code class="language-js"><%=@code.content%></code></pre>
  <% end %>
  <div class="code-content-download-instructions">
    <% if @code.file_type == "javascript" || @code.file_type == "css" ||  @code.file_type == "html" %>
      <div class="code-content-download-instructions-title">Use this file in your project</div>
      <span class="code-content-download-instructions-desc">Include the following line in your project html.</span>
      <%= render partial: 'codes/shared/install_snipet', locals: {application: @application, user: @user} %>
    <% end %>
    <div class="code-content-download-instructions-title">Curl through the API</div>
    <%= render partial: 'codes/shared/api_request_snippet', locals: {application: @application, user: @user} %>
     <div class="code-content-download-instructions-title">Direct download</div>
     <button class='download-btn primary-btn'>Download</button>
     <div class="code-content-download-instructions-title">Number of downloads</div>
    <div class="code-content-download-count">
      <span class="code-content-download-count-title">Downloads</span>
      <span class="count"><%= @code.downloads %></span>
    </div>
  </div>
</div>
<%# <%= button_to "Back", user_application_path(name: @application.name), method: :get %>
<%# To do: organize the javascript in the app/javascript directory %>

<%= javascript_pack_tag 'downloadCode' %>
