<span class="route"><%= @user.username %> / <%= @application.name %> / <%= @code.title %></span>
<div class="code-content-title-container">
  <%= image_tag @code.icon_source, class: "code-content-title-container-icon" %>
  <span class="content-title"><%= @code.title %></span>
</div>
<div class="code-content-main-container">
  <%= content_tag :div, class: "code-data", data: {code: @code} do %>
    <pre><code class="language-js"><%=@code.content%></code></pre>
  <% end %>
  <div class="code-content-download-instructions">
    <% if @code.file_type == "javascript" %>
      <div class="code-content-download-instructions-title">Use this file in your project</div>
      <span class="code-content-download-instructions-desc">Include the following line in your proyect html.</span>
      <%= render partial: 'codes/shared/install_snipet', locals: {application: @application} %>
    <% end %>
  </div>
</div>
<%# <%= button_to "Back", user_application_path(name: @application.name), method: :get %>
<%# <button class='download-btn'>Download</button> %>
<%# To do: organize the javascript in the app/javascript directory %>
<%= javascript_pack_tag 'downloadCode' %>
