<%= content_tag :div, class: "code-data", data: {code: @code} do %>
  <h1><%= @code.title %></h1>
  <p><%= @code.content %></p>
  <%= button_to "Back", user_application_path(name: @application.name), method: :get %>
  <button class='download-btn'>Download</button>
<% end %>

<%# To do: organize the javascript in the app/javascript directory %>
<%= javascript_pack_tag 'downloadCode' %>
