<body class="text-center">
  <div class="form-signin">
    <%= image_tag "logo.png", alt: "GatoCmM's logo", class: "mb-4", width: "300" %>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <label for="inputEmail" class="sr-only">Email address</label>
      <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", class: "form-control", placeholder: "Email address" %>
      <label for="inputPassword" class="sr-only">Password</label>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password", required: true %>
      <% if devise_mapping.rememberable? %>
        <div class="checkbox mb-3">
          <%= f.check_box :remember_me %>
          <span>Remember me</span>
        </div>
      <% end %>
      <%= f.submit "Sign in", class: "btn btn-lg btn-dark btn-block" %>
      <p class="mt-5 mb-3 text-muted">&copy; GatoCM - 2023</p>
    <% end %>
  </div>
</body>
